* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,  
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    margin: 0px;
}

/*-----------------------<container>----------------*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container:before, .container:after{
    display: table;
    content: " ";
}

.container:after {
    clear: both;
}
/*-----------------------</container>----------------*/


/*-----------------------<row>----------------*/

.row { 
    margin-right: -15px;
    margin-left: -15px;
}

.row:before, .row:after {
    display: table;
    content: " ";
}

.row:after {
    clear: both;
}

/*-----------------------</row>----------------*/


.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}


[class*="col-"] {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { 
    float: left;
}

.col-12{ width: 100%; }
.col-11{ width: 91.666667%; }
.col-10{ width: 83.333333%; }
.col-9{ width: 75%; }
.col-8{ width: 66.666667%; }
.col-7{ width: 58.333333%; }
.col-6{ width: 50%; }
.col-5{ width: 41.666667%; }
.col-4{ width: 33.333333%; }
.col-3{ width: 25%; }
.col-2{ width: 16.666667%; }
.col-1{ width: 8.333333%; }


.col-left-9 { width: 75%; float: left; margin-right: auto; }

.col-right-9 { width: 75%; float: right; margin-right: auto; }