@font-face{
    font-family: myCursive;
    src: url(../fonts/GreatVibesRegular.ttf);
}

p{
    font-size: 24pt;
    font-family: myCursive;
}


.nav{
	position: fixed;
    opacity: 0.85;
	z-index: 1;
	top: 20%;
	right: -152pt;  /* _____________ */
	width: 188pt;
	height: 188pt;
	padding: 7pt;
	background-color: #ffaaaa;
	border-top-left-radius: 4pt;
	border-bottom-left-radius: 4pt;
}

.menuicon{
	width: 23pt;
	height: 23pt;
}

.navbuttons{
    background-color: inherit;
	position: absolute;
	z-index: 1;
	top: 35pt;
	left: 40pt;
	width: 135pt;
	line-height: 30pt;
}

.navbtn{
    background-color: inherit;
    color: black;
    height: 35pt;
    padding: 0pt 0pt 0pt 0pt;
    display: block;
    font-size: 18pt;
    letter-spacing: 3pt;
    vertical-align: middle;
    font-weight: 500;
    border-width: 0;
    text-decoration: none;
}

.navbtn:hover{
    text-decoration: none;
    text-shadow: 2px 2px grey;
    color: black;
    cursor: pointer;
}

.navbtn:focus{
    outline: 0;
}

.logo{
	margin: 38pt;
}

/*-----------navigation----------------------------------------------------------------------------------------*/

.dot {
  opacity: 0.5;
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #888;
  border-radius: 50%;
  display: inline-block;
}

.prev, .next {
  cursor: pointer;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
}

.slide-container{
	background-color: #111111;
}

.slide{
	display: block;
	position: relative;
	text-align: center;
}

.slide-text{
	position: absolute;
	color: white;
	z-index: 100;
	width: 100%;
	height: 100%;
    display: flex;
    justify-content: center;
	align-items: center;
    /* safari textcentering */
     display: -webkit-inline-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.slide-img{
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
}


.slide-bar{
	text-align: center;
	margin: 30px;
}

.slide-bar-elms{
	margin: auto;
}

.pagimation{
	text-align: center;
	margin: 30px;
}

.pagimation-elms{
	margin: auto;

}

.pagimation-btn {
    /*opacity: 0.5;*/
    cursor: pointer;
    height: 40pt;
    width: 35pt;
    margin: 0 3pt;
    
    color: black;
    border-radius: 2pt;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    
    justify-content: center;
	align-items: center;
    /* safari text centering */
     display: -webkit-inline-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    
    text-decoration: none;
}

.activePg {
    background-color: lightgray;
}

.pgNext, .pgPrev{
    /*opacity: 0.5;*/
    cursor: pointer;
    height: 40pt;
    width: 35pt;
    margin: 0 11pt;
    
    color: black;
    border-radius: 2pt;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    
    justify-content: center;
	align-items: center;
    /* safari textcentering */
     display: -webkit-inline-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    
    text-decoration: none;
}

.posts{
    padding: 0;
    margin: 0;
    border-style: none;
    outline-style: none;
}

.post{
	background-color: #111;
	margin-bottom: 30px;
	display: block;
	position: relative;
	text-align: center;
}

.post-text{
	position: absolute;
	color: white;
	z-index: 100;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    /* safari textcentering */
    display: -webkit-inline-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.post-img{
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
}

.textpost{
    display: inline-block;
    border: solid;
    border-width: 1px;
    border-color: lightgrey;
    margin-bottom: 30px;
}

.textpost-text{
    float: right;
	color: #333;
	width: 50%;
	height: 100%;
    padding-left: 0.35cm;
    padding-right: 0.35cm;
    padding-bottom: 0.2cm;
    padding-top: 0.2cm;
}

.textpost-img{
    float: left;
    width: 50%;
    height: auto;
}

.blextpost{             
    display: block;
    margin-bottom: 30px;
    border-width: 1px;
    border-color: yellow;
    margin-bottom: 30px;
    
}    /*-----------------Below Left Text Post---------------------------------*/

.blextpost-text{
	color: #333;
	width: 100%;
    padding-left: 1.5cm;
    padding-right: 2cm;
    padding-bottom: 0.2cm;
    padding-top: 1cm;
}

.blextpost-img{
    /*max-width: 100%;*/
    width: 100%;
    height: auto;
}

.postpar{
    text-indent: 1cm;
}

.footer{
	width: 100%;
	height: 80px;
	padding-top: 50px;
	padding-left: 25%;
    padding-bottom: 80px;
    font-family: myCursive;
}